{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="{% static "css/scrumboard.css" %}" >

  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
  <!--===============================================================================================-->
  	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
  <!--=============================================================================================== -->
  	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
  <!--=============================================================================================== -->
  	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
  <!--=============================================================================================== -->
  	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
  <!--=============================================================================================== -->
  	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
  <!--===============================================================================================-->



    </head>
    <body ng-app="scrumboard.demo">
        <ng-view></ng-view>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
        <script src="{% static "js/scrumboard.js" %}"></script>
        <script src="{% static "js/scrumboard.config.js" %}"></script>
        <script src="{% static "js/login.controller.js" %}"></script>
        <script src="{% static "js/login.service.js" %}"></script>
        <script src="{% static "js/card.directive.js" %}"></script>
    </body>
</html>
